{% extends 'base.html' %}

{% block title %} About Me {% endblock %}

{% block body %}
<main class="container">
    <h1>Michaela Angus</h1>
    <p>
        Hi, my name is Michaela Angus, and I am a fourth-year student at the 
        University of Iowa studying finance and business analytics. I am originally 
        from Chicago, Illinois, and outside of school I enjoy going for walks, 
        working out (especially barre/pilates), reading, and watching TV. I am 
        really excited to graduate soon, but I know I will definitely miss Iowa City.
    </p>
</main class="container">
{% endblock %}